{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    <div class="small-navbar visible-xs">
        <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
        <h1 class="small-navbar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="content-column-content">
                <h1>Projects & papers</h1>
                {{ range .Pages.ByTitle }}
                <div class="project-entry">
                    <h4>{{ .Title }}</h4>
                    {{ with .Params.tools }}
                    <h5>Tools/Languages: {{ . }}</h5>
                    {{ end }}
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
