{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    <div class="small-navbar visible-xs">
        <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
        <h1 class="small-navbar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    </div>
    <div class="grid">
        <div class="row">
            {{ .Content }}
            {{ range where .Site.RegularPages "Type" "portfolio" }}
                {{ .Render "summary" }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
