<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.default.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>
<body>
    <div class="container">
        {{ .Content }}
    </div>
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
</body>
</html>
